html {
    width: 100%;
}

body {
    margin: 0;
}

a {
    color: beige;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: lightslategray;
    border-bottom: 1px solid darkgray;
}

.stage {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: red;
}